.navbar-default {
  background-color: #e2ded7;
  border-color: #934c17;
}
.navbar-default .navbar-brand {
  color: #0e0f10;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d65e60;
}
.navbar-default .navbar-text {
  color: #0e0f10;
}
.navbar-default .navbar-nav > li > a {
  color: #0e0f10;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d65e60;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #e2ded7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #0e0f10;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d65e60;
  background-color: #934c17;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #934c17;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d65e60;
  background-color: #934c17;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d65e60;
  background-color: #934c17;
}
.navbar-default .navbar-toggle {
  border-color: #934c17;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #934c17;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #0e0f10;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #0e0f10;
}
.navbar-default .navbar-link {
  color: #0e0f10;
}
.navbar-default .navbar-link:hover {
  color: #d65e60;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #0e0f10;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d65e60;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d65e60;
    background-color: #934c17;
  }
}