{% extends 'base.html' %}
{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            当前喜欢的文章
        </div>
        <div class="panel-body">
            <p>
                故夫知效一官，行比一乡，德合一君，而征一国者，其自视也，亦若此矣。而宋荣子犹然笑之。且举世誉之而不加劝，举世非之而不加沮，定乎内外之分，辩乎荣辱之境，斯已矣。彼其于世，未数数然也。虽然，犹有未树也。夫列子御风而行，泠然善也，旬有五日而后反。彼于致福者，未数数然也。此虽免乎行，犹有所待者也。若夫乘天地之正，而御六气之辩，以游无穷者，彼且恶乎待哉？故曰：至人无己，神人无功，圣人无名。
            </p>
            <p class="pull-right">
                《庄子·逍遥游》
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            座右铭
        </div>
        <div class="panel-body">
            <p>
                靡不有初，鲜克有终。
            </p>
            <p class="pull-right">
                《诗经·大雅·荡》
            </p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            一条没有梦想的咸鱼
        </div>
        <div class="panel-body">
            <p>
                经常做梦，没有梦想。
            </p>
            <p class="pull-right">

            </p>
        </div>
    </div>
{% endblock %}