{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>我的博客</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
    <!-- js -->
    <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
</head>

<body>
<header class="navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand" href="#">赵子の博客</div>
        </div>
        <div class="collapse navbar-collapse" id="vmaig-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'blog:index' %}">
                        <span class="glyphicon glyphicon-home"></span>
                        首页
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-globe"></span>
                        博客
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        关于
                    </a>
                </li>
                <li>
                    <a href="#">
                        联系
                    </a>
                </li>
                <form class="navbar-form navbar-left" role="search" _lpchecked="1" action="{% url 'blog:search' %}">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" placeholder="搜索" required>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </ul>
            {#            取消登录和注册#}
            {#            <ul class="nav navbar-nav navbar-right">#}
            {#                <li>#}
            {#                    <a id="nav-login" data-toggle="modal" data-target="#login-modal"#}
            {#                       style="padding-right:0px;cursor:pointer;" data-original-title="" title="">#}
            {#                        登陆#}
            {#                    </a>#}
            {#                </li>#}
            {#                <li>#}
            {#                    <a id="nav-register" data-toggle="modal" data-target="#register-modal"#}
            {#                       style="padding-right:0px;cursor:pointer">#}
            {#                        注册#}
            {#                    </a>#}
            {#                </li>#}
            {##}
            {#            </ul>#}
        </div>
    </div>
</header>
<div class="content-body">
    <div class="container">
        <div class="col-md-8 col-lg-9" style="margin-top: 20px">
            <!-- 首页文章列表 -->
            <div id="home-post-list">
                {% block main %}
                {% endblock main %}
                {% if is_paginated %}
                    <div class="pagination">
                        {% if first %}
                            <a href="?page=1">1</a>
                        {% endif %}
                        {% if left %}
                            {% if left_has_more %}
                                <span>...</span>
                            {% endif %}
                            {% for i in left %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                        {% endif %}
                        <a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a>
                        {% if right %}
                            {% for i in right %}
                                <a href="?page={{ i }}">{{ i }}</a>
                            {% endfor %}
                            {% if right_has_more %}
                                <span>...</span>
                            {% endif %}
                        {% endif %}
                        {% if last %}
                            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {# 右侧#}
        <div class="col-md-4 col-lg-3 hidden-xs">
{#            {% block toc %}#}
{#            {% endblock toc %}#}
            {# 标签云#}
            <div id="tags" style="margin-top: 20px">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-tags"></span>
                            标签云
                        </h3>
                    </div>
                    {% get_tags as tag_list %}
                    <ul id="tags-list" class="list-group collapse in">
                        {% for tag in tag_list %}
                            <li class="list-group-item">
                                <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                            </li>
                        {% empty %}
                            暂无标签！
                        {% endfor %}
                    </ul>
                </div>

            </div>
            {# 文章归档#}
            <div id="post-achieves" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-book"></span>
                        时间归档
                    </h3>
                </div>
                <ul id="achieve-list" class="list-group collapse in">
                    {% archives as date_list %}
                    {% for date in date_list %}
                        <li class="list-group-item">
                            <a href="{% url 'blog:archives' date.year date.month %}">
                                {{ date.year }} 年 {{ date.month }} 月</a>
                        <span class="badge">{% get_count_of_date date.year date.month %}</span>
                        </li>
                    {% empty %}
                        暂无归档！
                    {% endfor %}
                </ul>
            </div>

            {# 分类归档 #}
            <div id="post-category" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-book"></span>
                        分类归档
                    </h3>
                </div>
                {% get_categories as category_list %}
                <ul id="category-list" class="list-group collapse in">
                    {% for category in category_list %}
                        <li class="list-group-item">
                            <a href="{% url 'blog:category' category.pk %}">{{ category.name }}</a><span class="badge">{% get_count_of_category category.pk %}</span>
                        </li>
                    {% empty %}
                        暂无分类！
                    {% endfor %}
                </ul>
            </div>


            {# 最热文章，现在先设置为最新的#}
            <div id="hot-posts" class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-flag"></span>
                        热门文章
                    </h3>
                </div>
                <ul id="hot-post-list" class="list-group collapse in">
                    {% get_most_views_host as hot_post_list %}
                    {% for post in hot_post_list %}
                        <li class="list-group-item">
                                    <span class="hot-post-title"><a
                                            href="{{ post.get_absolute_url }}">{{ post.title }}</a></span>
                            <span class="badge">{{ post.views }}</span>
                        </li>
                    {% empty %}
                        暂无文章！
                    {% endfor %}
                </ul>
            </div>

            {#最新评论#}
            <div id="latest-comment">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-comment"></span>
                            最新评论
                        </h3>
                    </div>
                    <ul id="latest-comment-list" class="list-group collapse in">
                        {% comments as comment_list %}
                        {% for comment in comment_list %}
                            <li class="list-group-item">
                                <a>{{ comment.name }} 评论:{{ comment.text }}</a>
                            </li>
                        {% empty %}
                            暂无评论！
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id="communicate">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-link"></span>
                            友情链接
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="links" class="list-group collapse in">
                            <a title="阿仑的博客" target="_blank" href="http://zhyoulun.com/"
                               class="btn btn-xs btn-danger">阿仑的博客</a>
                            <a title="庆宇的博客" target="_blank" href="http://zqingyu.com/"
                               class="btn btn-xs btn-danger">庆宇的博客</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright">&copy 2018 - zhaoxinjie@gmail.com
                </p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'blog/js/script.js' %}"></script>
</body>
</html>
